<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/about.css">
    <title>Abdulaziz Dev</title>
</head>

<body>
    <header>
        <nav class="nav">
            <h1>Abdulazizdev</h1>
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
    
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="main">

            <div class="about">
                <h2>
                    Hello, my name is <span>Abdulazizbek Abdusodiqov.</span>
                </h2>
                <h3>
                    I was born in May 26, 2006, in Yangiyol district, Tashkent region. I am a web developer, and I have
                    a genuine passion for this field.
                </h3>
                <p>Currently, I have skills in web development, including HTML, CSS, JavaScript, Node.js, Express,
                    MySQL, PostgreSQL, MongoDB, and several other technologies.</p>
            </div>

            <div class="skills">

                <h3>HTML</h3>
                <div class="skill-container">
                    <div class="skill-bar" style="width: 90%;">90%</div>
                </div>

                <h3>CSS</h3>
                <div class="skill-container">
                    <div class="skill-bar" style="width: 70%;">70%</div>
                </div>

                <h3>JavaScript</h3>
                <div class="skill-container">
                    <div class="skill-bar" style="width: 70%;">70%</div>
                </div>

                <h3>NodeJS</h3>
                <div class="skill-container">
                    <div class="skill-bar" style="width: 60%;">60%</div>
                </div>
                <h3>NodeJS-Express</h3>
                <div class="skill-container">
                    <div class="skill-bar" style="width: 70%;">70%</div>
                </div>
                <h3>MongoDB</h3>
                <div class="skill-container">
                    <div class="skill-bar" style="width: 60%;">60%</div>
                </div>
                <h3>PostgreSQL</h3>
                <div class="skill-container">
                    <div class="skill-bar" style="width: 70%;">70%</div>
                </div>
            </div>

        </div>

    </div>
    <footer>
        <p>&copy; 2025 Abdulaziz Dev. All rights reserved.</p>
    </footer>
</body>

</html>