<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Abdulaziz Dev</title>
    <link rel="stylesheet" href="/css/contact.css">

</head>

<body>
    <header>
        <nav class="nav">
            <h1>Abdulazizdev</h1>
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>
    
            </ul>
        </nav>
    </header>
    <div class="container">
        <div class="main">
            <br>
            <h2>EMAIL:<a href="mailto:abdulazizbekabdusodiqov@gmail.com">Send message</a></h2><br>

            <h2>PHONE:<a href="tel:+9998937252606">Call</a></h2><br>

            <h2>TELEGRAM: <a href="https://t.me/abdu_laz1zbek">Send message</a></h2><br>

            <h2>TELEGRAM-CHANEL: <a href="https://t.me/abdulazizbek_coder">Telegram channel</a></h2> <br>

        </div>
    </div>
    <footer>
        <p>&copy; 2025 Abdulaziz Dev. All rights reserved.</p>
    </footer>
</body>

</html>