<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Abdulaziz Dev – Dasturlash, web development va texnologiyalar haqida blog.">
    <meta name="keywords" content="Abdulaziz, Abdulaziz Dev, Abdulaziz uz, Abdulazizdev uz, Abdulaziz.dev">
    <meta name="robots" content="index, follow">
    <meta property="og:title" content="Abdulaziz Dev">
    <meta property="og:url" content="https://abdulazizdev.uz">
    <meta property="og:type" content="website">
    <meta name="twitter:title" content="Abdulaziz Dev">
    <meta name="twitter:title" content="Abdulaziz uz">
    <meta name="twitter:title" content="Abdulaziz Uz">
    <meta name="twitter:title" content="Abdulazizbek Dev">
    <meta name="twitter:title" content="Abdulazizbek uz">
    <meta name="twitter:title" content="Abdulazizbek Uz">

    <link rel="shortcut icon" href="/img/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/nav.css">
    <title>Abdulaziz Dev</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <header>
        <nav class="nav">
            <h1>Abdulazizdev</h1>
            <ul type="none">
                <li><a href="/">HOME</a></li>
                <li><a href="/about">ABOUT</a></li>
                <li><a href="/contact">CONTACT</a></li>

            </ul>
        </nav>
    </header>
    <main>

        <div class="container">

                <div class="description">
                    <p>hello I'm</p>
                    <h2>Abdulazizbek Abdusodiqov</h2>
                    <h3>Full-Stack developer</h3>
                    <button class="downloadBtn">Get my Resume...</button>
                </div>

                <div class="img">
                    <img width="400px" src="/img/photo_2025-02-26_09-19-50.jpg" alt="my picture">
                </div>

        </div>
    </main>

    <footer>
        <p>&copy; 2025 Abdulaziz Dev. All rights reserved.</p>
    </footer>
    <script>
        document.querySelector('.downloadBtn').addEventListener('click', function () {

            const fileUrl = '/my_resume/Resume.pdf'
            const fileName = 'ResumeAbdulazizbekAbdusodiqov.pdf';

            const link = document.createElement('a');
            link.href = fileUrl;
            link.download = fileName;
            link.click();
        });
    </script>
</body>

</html>